$fontHeader: 'Source Sans Pro', sans-serif;
$fontAbout: 'Fresca', sans-serif;
$colorLine:#ff4e33;
$backgroundImage:url(../img/m-h-night.jpg); 
$textColor:white;
$colorDescriptionText:#b6c0ce;
$footerBgColor:#3b3f50;
$gradientFirtsColor:#932e52;
$gradientSecondColor:#e1a902;
$bodyBgColor:#21232e;
$buttonColor:#e3ac00;
$cardBgColor:#3b3f50;