$fontHeader: 'Source Sans Pro', sans-serif;
$fontAbout: 'Hind', sans-serif;
$colorLine:#14a0c7;
$backgroundImage:url(../img/m-h-day.jpg); 
$textColor:#2c2f3c;
$colorDescriptionText:#b6c0ce;
$footerBgColor:#21232e;
$gradientFirtsColor:#2c5ad9;
$gradientSecondColor:#689803;
$bodyBgColor:white;
$buttonColor:#699900;
$cardBgColor:#21232e;
